* { 
    font-family: 'Roboto', sans-serif;
    margin: 0;
}

.button{ 
    background-color: #B21236;
    border: none;
    border-radius: 15px;
    color: white;
    display: inline-block;
    font-size: 16px;
    margin: 30px;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
}

.button:hover{ 
    background-color: #B21236;
    border: none;
    border-radius: 15px;
    box-shadow: 10px 10px 5px #919191;
    color: white;
    display: inline-block;
    font-size: 16px;
    margin: 30px;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
}

.pull-left {
    float: left;
}

.pull-right {
    float: right;
}

.clearfix::after {
    content: "";
    clear: both;
    display: table;
}

.hidden {
    display: none;
}

#logo {
    /* display: block; */
    margin: 10px;
    /* padding: 20px; */
}

footer, header, body {
    box-sizing: border-box;
    background-color: #0083B2;
    text-align: center;
    /* color yellow #FFF119 */
    /* color red-ish #B21236 */
    
}
